@import url("/styles/header.css");
@import url("/content/styles/client.css");

body {
     background: none repeat scroll 0% 0% white;
     color: black;
     font: 12px Helvetica,sans-serif;
     margin: 0px;
}

input, select, option {
     color: black;
     font: 12px Helvetica,sans-serif;
}

textarea {
     color: black;
     font: 12px Helvetica,sans-serif;
     resize: none;
     width: 100%;
}

table {
     border-collapse: collapse;
     padding: 2px;
}

#content\.service\.device\.case td {
     width: 115px;
}

table .buttons {
     width: 100%;
}

td {
     font-size: 11px;
}

.bodytext {
     color: black;
     font-size: 11px;
}

#constants {
     height: 17px;
     position: absolute;
     right: 0px;
     top: 0px;
}

#constants A {
     color: white;
     font-size: 10px;
     line-height: 12px;
     text-decoration: none;
}

#constants A:hover {
     text-decoration: underline;
}

#constantsTable {
     background-image: url("/images/skin.jpg");
     color: white;
     font-size: 10px;
     line-height: 12px;
}

#loggedinText {
     color: red;
     font-size: 10px;
     line-height: 12px;
}

.subheadBar {
     padding: 0px 26px 0px 8px;
}

.copyright {
     background: none repeat scroll 0% 0% red;
     padding-left: 10px;
}

#mainMenuLeft {
     color: #000000;
     font-size: 11px;
     margin-top: 16px;
}

#mainMenuLeft .welcomeMessage {
     color: #515252;
     font-size: 13px;
     font-weight: bold;
}

#mainMenuLeft .subMessage {
     color: #5B5B5B;
     font-size: 12px;
     font-weight: bold;
}

#mainMenuLeft .sectionHeader {
     border-bottom: 1px solid #5B5B5B;
     color: #5B5B5B;
     font-size: 16px;
     font-weight: bold;
     margin-bottom: 16px;
     width: 350px;
}

#mainMenuLeft .sectionHeader IMG {
     vertical-align: text-bottom;
}

#mainMenuLeft .subsection {
     padding-bottom: 20px;
}

#mainMenuLeft .subsection A {
     color: #5B5B5B;
     font-size: 12px;
     font-weight: bold;
     text-decoration: underline;
}

.dhtmlMenu {
     background: none repeat scroll 0px 0px #5B5B5B;
     border-left: medium none #5B5B5B;
     border-right: 1px solid #5B5B5B;
     margin: 0px;
     padding: 0px;
     position: absolute;
     top: auto;
}

.dhtmlMenu A, .dhtmlMenu TABLE TD {
     border-bottom: 1px solid #5B5B5B;
     border-top: 1px solid #5B5B5B;
     color: white;
     display: block;
     font-size: 10px;
     padding-bottom: 3px;
     padding-top: 3px;
     text-decoration: none;
}

.dhtmlMenu A:hover {
     text-decoration: underline;
}

.dhtmlActionMenu {
     background: none repeat scroll 0px 0px #5B5B5B;
     border-left: 1px solid #5B5B5B;
     border-right: 1px solid #5B5B5B;
     margin: 0px;
     padding: 0px;
     position: absolute;
     top: 80px;
}

.dhtmlActionMenu TD {
     border-bottom: 1px solid #5B5B5B;
     border-top: 1px solid #5B5B5B;
     color: #FFFFFF;
     display: block;
     font-size: 10px;
     padding-bottom: 8px;
     padding-top: 3px;
     text-decoration: none;
}

.dhtmlActionMenu A:hover {
     text-decoration: underline;
}

.dhtmlActionMenu A, .dhtmlActionMenu A:visited, .dhtmlActionMenu A:active {
     color: #FFFFFF;
     text-decoration: none;
}

.tabName {
     color: #5B5B5B;
     font-family: Helvetica;
     font-size: 16px;
     font-style: italic;
     font-weight: bold;
     padding: 0px 10px 5px;
}

.tabName .subtitle {
     font-size: 12px;
}

.tableHeader {
     background: none repeat scroll 0% 0% #C2C2C2;
     color: #000000;
     font-size: 11px;
     font-weight: bold;
     height: 17px;
     padding-left: 10px;
}

.lightTitle {
     background: none repeat scroll 0% 0% #F1F4F6;
     color: #5C5C5C;
     font-size: 11px;
     height: 20px;
     padding-left: 10px;
}

.lightTitle A {
     color: #000000;
     font-size: 11px;
     text-decoration: underline;
}

.darkTitle {
     background: none repeat scroll 0% 0% #DCE4E7;
     color: #5C5C5C;
     font-size: 11px;
     height: 20px;
     padding-left: 10px;
}

.darkTitle A {
     color: #000000;
     font-size: 11px;
     text-decoration: underline;
}

.lightData, .lightData TD {
     background: none repeat scroll 0px 0px #F5F5F5;
     color: #000000;
     font-size: 11px;
     padding-left: 10px;
     word-wrap: break-word;
}

.emptyTable {
     background: none repeat scroll 0px 0px #F5F5F5;
     color: #777777;
     font-size: 11px;
     padding-left: 10px;
}

.tableMessage {
     background: none repeat scroll 0px 0px #F5F5F5;
     color: #5B5B5B;
     font-size: 11px;
     padding-left: 10px;
}

.lightData A {
     color: #5B5B5B;
     font-size: 11px;
     text-decoration: none;
}

.lightData A:hover {
     text-decoration: underline;
}

.darkData {
     background: none repeat scroll 0px 0px #EEEEEE;
     color: #000000;
     font-size: 11px;
     padding-left: 10px;
     word-wrap: break-word;
}

.darkData TD {
     background: none repeat scroll 0px 0px #EEEEEE;
     color: #000000;
     font-size: 11px;
     padding-left: 10px;
}

.darkData A {
     color: #5B5B5B;
     font-size: 11px;
     text-decoration: none;
}

.darkData A:hover {
     text-decoration: underline;
}

.bottom12 {
     margin-bottom: 12px;
}

.bottom60 {
     margin-bottom: 60px;
}

.highlightData {
     background-color: #FDE4B3;
     color: #000000;
     font-size: 11px;
     padding-left: 10px;
}

.highlightData A {
     color: #000000;
     font-size: 11px;
     text-decoration: underline;
}

.highlightData TD {
     padding-left: 10px;
}

.highlightData A:hover {
     text-decoration: underline;
}

.summaryData {
     background-color: #FDE4B3;
     color: #000000;
     font-size: 11px;
     padding-left: 10px;
}

.summaryData A {
     color: #000000;
     font-size: 11px;
     text-decoration: underline;
}

.summaryData TD {
     padding-left: 10px;
}

.summaryData A:hover {
     text-decoration: underline;
}

.interestingData {
     color: red;
}

.formHeader {
     color: #5B5B5B;
     font-size: 12px;
     font-weight: bold;
}

.scriptDisabled {
     color: red;
     font: bold 15px Helvetica;
     padding-left: 18px;
}

.noJRE {
     color: red;
     font: bold 12px Helvetica;
}

.errorMessage {
     color: red;
}

.formSubhead {
     color: #000000;
     font-size: 12px;
     font-weight: bold;
}

.formGreyHeader {
     color: #5B5B5B;
     font-size: 12px;
     font-weight: bold;
}

.formDescription {
     font-style: italic;
     padding: 10px 25px 12px 0px;
     width: 73%;
}

.formText {
     color: #000000;
     font-size: 11px;
}

.disabledLink {
     color: #808080 ! important;
     text-decoration: underline;
}

.gotoDeviceLink {
     color: #000000;
     font-size: 13px;
     font-weight: bold;
}

A.formLinkPopup:hover, A.formLinkDropDown:hover, A.filterSectionLinkPopup:hover, A.filterSectionLinkDropDown:hover {
     text-decoration: underline;
}

A.formLinkPopup, A.formLinkDropDown, A.filterSectionLinkPopup, A.filterSectionLinkDropDown {
     background-color: transparent;
     background-position: 100% center;
     background-repeat: no-repeat;
     border-width: 0px;
     font-weight: bold;
     margin: 0px 3px;
     padding: 0px 12px 0px 0px;
     text-decoration: none;
}

A.formLinkPopup, A.formLinkDropDown {
     color: #5B5B5B;
     font-family: Helvetica;
     font-size: 12px;
}

A.filterSectionLinkPopup, A.filterSectionLinkDropDown {
     color: White;
     font-family: Helvetica;
     font-size: 12px;
}

A.formLinkPopup, A.filterSectionLinkPopup {
     background-image: url("/images/button_popup_blue.gif");
}

A.formLinkDropDown, A.filterSectionLinkDropDown {
     background-image: url("/images/button_popdown_blue.gif");
}

.textinput {
     background: none repeat scroll 0% 0% white;
     border: 1px solid #BEBEBE;
     width: 230px;
}

.textLabel {
     color: #000000;
     font-size: 11px;
     font-weight: bold;
}

.textinputSuggest {
     background: none repeat scroll 0% 0% #FFFFFF;
     border: 1px solid #BEBEBE;
     width: 230px;
}

.textinputlongSuggest {
     background: none repeat scroll 0% 0% #FFFFFF;
     border: 1px solid #BEBEBE;
     width: 300px;
}

.textinputlong {
     background: none repeat scroll 0% 0% #FFFFFF;
     border: 1px solid #BEBEBE;
     width: 300px;
}

.textinputdisabled {
     background-color: #BEBEBE;
     width: 300px;
}

.textinputverylong {
     background: none repeat scroll 0% 0% white;
     border: 1px solid #BEBEBE;
     width: 500px;
}

.textinputshort {
     background: none repeat scroll 0% 0% white;
     border: 1px solid #BEBEBE;
     vertical-align: top;
     width: 155px;
}

.textinputextrashort {
     background: none repeat scroll 0% 0% white;
     border: 1px solid #BEBEBE;
     vertical-align: top;
     width: 50px;
}

.textinputmiddle {
     background: none repeat scroll 0% 0% white;
     border: 1px solid #BEBEBE;
     width: 220px;
}

.textinputmedium {
     background: none repeat scroll 0% 0% white;
     border: 1px solid #BEBEBE;
     vertical-align: top;
     width: 115px;
}

.textinputwizard {
     background: none repeat scroll 0% 0% white;
     border: 1px solid #BEBEBE;
     vertical-align: top;
     width: 180px;
}

.selectinputwizard {
     border: 1px solid #BEBEBE;
     vertical-align: top;
     width: 180px;
}

.selectinput {
     border: 1px solid #BEBEBE;
     vertical-align: top;
     width: 230px;
}

.selectinputnowidth {
     border: 1px solid #BEBEBE;
     vertical-align: top;
}

.selectinputlong {
     border: 1px solid #BEBEBE;
     vertical-align: top;
     width: 300px;
}

.selectinput100 {
     border: 1px solid #BEBEBE;
     vertical-align: top;
     width: 100px;
}

.selectinput150 {
     border: 1px solid #BEBEBE;
     vertical-align: top;
     width: 150px;
}

.selectinputbig {
     border: 1px solid #BEBEBE;
     vertical-align: top;
     width: 550px;
}

.smlTextArea {
     border: 1px solid #BEBEBE;
     height: 85px;
     width: 230px;
}

.largeTextArea {
     border: 1px solid #BEBEBE;
     height: 200px;
     width: 600px;
}

.buttonNormal {
     border: 1px outset white;
     font-size: 11px;
     height: 23px;
     margin-top: 10px;
     width: 88px;
}

.buttonSelect {
     border: 1px outset white;
     font-size: 11px;
     height: 23px;
     margin-bottom: 10px;
     width: 88px;
}

input.checkbox {
     margin-left: 15px;
}

@media print {
  .noprint { visibility: hidden; }
}

#topControlBar {
     color: #5B5B5B;
     font-size: 12px;
     font-weight: bold;
     left: 0px;
     padding: 9px 10px 10px 0px;
     top: 93px;
}

.topWindowTitle {
     font-size: 14px;
     font-weight: bold;
     padding: 2px 6px 0px 0px;
}

A.detailNav:link, A.detailNav:visited {
     color: #515252;
     font-size: 11px;
     font-weight: bold;
     text-decoration: none;
}

A.detailNavSelected:link, A.detailNavSelected:visited {
     color: #BEBEBE;
     font-size: 11px;
     font-weight: bold;
     text-decoration: none;
}

.pagingLinks {
     color: #000000;
     font-size: 10px;
     padding-top: 4px;
}

.pagingLinks A {
     color: #5B5B5B;
}

.paging {
     color: #000000;
     float: right;
     font-size: 10px;
     padding-bottom: 5px;
     padding-right: 8px;
}

.paging A {
     color: #5B5B5B;
}

.paging IMG {
     vertical-align: middle;
}

.currentPage {
    
}

.formInstructions {
     color: #5B5B5B;
     font-size: 11px;
     font-weight: bold;
}

.formInstructionsWider {
     color: #5B5B5B;
     font-size: 11px;
     font-weight: bold;
     vertical-align: middle;
     width: 120px;
}

.dateInput {
     border: 1px solid #515252;
     color: #515252;
     font-size: 10px;
     height: 18px;
     margin-left: 8px;
     padding-left: 5px;
     width: 60px;
}

.timeInput {
     border: 1px solid #515252;
     color: #515252;
     font-size: 10px;
     height: 18px;
     margin-right: 1px;
     padding-left: 2px;
     width: 70px;
}

SELECT.filter {
     border: 1px solid #000000;
     color: #515252;
     font-size: 10px;
     height: 18px;
     width: 150px;
}

SELECT.filterMedium {
     border: 1px solid #000000;
     color: #515252;
     font-size: 10px;
     height: 18px;
     width: 125px;
}

SELECT.filterWide {
     border: 1px solid #000000;
     color: #515252;
     font-size: 10px;
     height: 18px;
     width: 250px;
}

SELECT.multiFilter {
     border: 1px solid #000000;
     color: #515252;
     font-size: 10px;
     width: 150px;
}

TR.tableHeaderRow, TR.tableHeaderRow A {
     background: none repeat scroll 0% 0% #EEEEEE;
     color: #000000;
     font-size: 11px;
     font-weight: bold;
     text-decoration: none;
}

TR.tableHeaderRow A:hover {
     text-decoration: underline;
}

TR.tableHeaderRow .columnHeader, TR.tableHeaderRow .columnHeaderSortable {
     border: 1px solid #BEBEBE;
     height: 20px;
     padding-left: 10px;
     padding-right: 10px;
     white-space: normal;
}

TR.tableHeaderRow .columnHeaderSortable {
     color: #5B5B5B;
}

.subtitle {
     color: #000000;
     font-size: 14px;
     font-weight: bold;
}

TABLE.controlBar {
     background: none repeat scroll 0% 0% #DCE1E4;
     border-color: #FFFFFF;
     border-style: solid;
     border-width: 1px 1px 0px;
     height: 25px;
     padding: 6px;
     width: 100%;
}

.tableNoteLight {
     background: none repeat scroll 0% 0% #F1F4F6;
     color: #000000;
     font-size: 11px;
     padding: 4px 10px 6px 4px;
}

.tableNoteLight A {
     color: #5B5B5B;
     text-decoration: none;
}

.tableNoteDark {
     background: none repeat scroll 0% 0% #DCE4E7;
     color: #000000;
     font-size: 11px;
     padding: 4px 10px 6px 4px;
}

.tableNoteDark A {
     color: #5B5B5B;
     text-decoration: none;
}

.tableNoteLight A:hover, .tableNoteDark A:hover {
     text-decoration: underline;
}

.tableInput {
     border: 1px solid #000000;
     height: 17px;
     width: 150px;
}

.tableCityInput {
     border: 1px solid #000000;
     height: 17px;
     width: 120px;
}

.tableStateInput {
     border: 1px solid #000000;
     height: 17px;
     width: 30px;
}

.deviceInformationPanel {
     border: 1px solid #515252;
}

.infoLabelLight {
     background: none repeat scroll 0% 0% #F1F4F6;
     border-left: 1px solid #FFFFFF;
     border-right: 1px solid #FFFFFF;
     color: #666666;
     height: 17px;
     padding-left: 12px;
}

.infoLabelDark {
     background: none repeat scroll 0% 0% #DCE4E7;
     border-left: 1px solid #FFFFFF;
     border-right: 1px solid #FFFFFF;
     color: #666666;
     font-size: 11px;
     padding-left: 12px;
}

.infoDataLight {
     background: none repeat scroll 0% 0% #F1F4F6;
     border-right: 1px solid #FFFFFF;
     color: #000000;
     font-size: 11px;
     padding-left: 12px;
}

.infoDataDark {
     background: none repeat scroll 0% 0% #DCE4E7;
     border-right: 1px solid #FFFFFF;
     color: #000000;
     font-size: 11px;
     padding-left: 12px;
}

.infoTableHeader {
     background: none repeat scroll 0% 0% #C2C2C2;
     border-bottom: 1px solid #FFFFFF;
     border-left: 1px solid #FFFFFF;
     border-right: 1px solid #FFFFFF;
     color: #000000;
     font-size: 11px;
     font-weight: bold;
     padding-left: 10px;
}

.lightData A.error:link, A.error:visited {
     color: #990000;
     font-size: 11px;
     text-decoration: underline;
}

.darkData a.error:link, a.error:visited {
     color: #990000;
     font-size: 11px;
     text-decoration: underline;
}

a.action:link, a.action:visited {
     color: #5B5B5B;
     text-decoration: none;
}

a.action:hover {
     text-decoration: underline;
}

.tableNoteHighlight {
     background: none repeat scroll 0% 0% #FFF089;
     color: #000000;
     font-size: 11px;
     padding: 4px 10px 6px 4px;
}

.tableNoteHighlight a {
     color: #5B5B5B;
     text-decoration: none;
}

.tableNoteHighlight a:hover {
     text-decoration: underline;
}

.searchMenu {
     background: none repeat scroll 0px 0px #BEBEBE;
     border-bottom: 1px solid #5B5B5B;
     border-left: 1px solid #5B5B5B;
     border-right: 1px solid #5B5B5B;
     bottom: 5px;
     color: #FFFFFF;
     display: none;
     height: 440px;
     padding-bottom: 12px;
     position: absolute;
     right: 320px;
     text-align: left;
     width: 320px;
     z-index: 3;
}

.dashboardMenu {
     background: none repeat scroll 0% 0% #FFFFFF;
     bottom: 5px;
     display: none;
     padding: 5px;
     position: absolute;
     right: 360px;
}

.searchMenuWide {
     background: none repeat scroll 0px 0px #BEBEBE;
     border-bottom: 1px solid #5B5B5B;
     border-left: 1px solid #5B5B5B;
     border-right: 1px solid #5B5B5B;
     color: #FFFFFF;
     display: none;
     padding-bottom: 12px;
     position: absolute;
     z-index: 3;
}

.searchMenu INPUT {
     color: #515252;
     font-size: 10px;
}

.searchText {
     color: #FFFFFF;
     font-size: 11px;
     font-weight: bold;
}

.searchValue {
     color: #FFFFFF;
     font-size: 10px;
}

.searchInput {
     border: 1px solid #000000;
     height: 18px;
     width: 150px;
}

.searchCityInput {
     border: 1px solid #000000;
     height: 18px;
     width: 100px;
}

.searchStateInput {
     border: 1px solid #000000;
     height: 18px;
     width: 50px;
}

.searchCountryInput {
     border: 1px solid #000000;
     height: 18px;
     width: 100px;
}

.searchDateInput {
     border: 1px solid #000000;
     height: 18px;
     width: 120px;
}

.searchSelect {
     border: 1px solid #000000;
     height: 18px;
     width: 150px;
}

.searchMultiSelect {
     border: 1px solid #000000;
     width: 150px;
}

.searchButton {
     font-size: 11px;
}

.notesMenu {
     background: none repeat scroll 0px 0px #BEBEBE;
     border-bottom: 1px solid #5B5B5B;
     border-left: 1px solid #5B5B5B;
     border-right: 1px solid #5B5B5B;
     color: #FFFFFF;
     display: none;
     padding: 8px;
     position: absolute;
     z-index: 3;
}

.notesTextarea {
     color: #666666;
     font-size: 11px;
     height: 100px;
     width: 350px;
}

.notesButton {
     font-size: 11px;
}

.emailMenu {
     background: none repeat scroll 0% 0% #6B87A1;
     border-bottom: 1px solid #5B5B5B;
     border-left: 1px solid #5B5B5B;
     border-right: 1px solid #5B5B5B;
     color: #FFFFFF;
     display: none;
     font-size: 11px;
     left: 565px;
     padding: 8px;
     position: absolute;
     z-index: 2;
}

.emailMenu TD {
     color: #FFFFFF;
     font-size: 11px;
     font-weight: bold;
     vertical-align: top;
}

.emailMenu SPAN {
     font-weight: normal;
}

.emailMenu SELECT {
     border: 1px solid #000000;
     font-size: 11px;
     width: 225px;
}

.emailMenu TEXTAREA {
     border: 1px solid #000000;
     font-size: 11px;
     height: 85px;
     width: 225px;
}

.emailButton {
     font-size: 11px;
}

.emailInput {
     border: 1px solid #000000;
     font-size: 11px;
     width: 225px;
}

.pagetext {
     padding-left: 12px;
     padding-top: 12px;
}

IMG.disabled {
     opacity: 0.25;
}

IMG.grayed {
    
}

IMG.grayedAndDisabled {
    
}

SPAN.disabled {
     color: #888888;
}

SPAN.button {
    
}

SPAN.button IMG {
     vertical-align: middle;
}

.disabledButtonLink {
     background-color: #BEBEBE;
     border-color: #BEBEBE;
     border-style: solid;
     border-width: 1px;
     color: #AAAAAA;
     cursor: default;
     font: bold 11px Arial;
}

td.controlElement {
     white-space: nowrap;
     width: 167px;
}

body.calendarBody {
     background-color: white;
     font-size: 11px;
}

td.calendarDay {
     background-color: #BEBEBE;
     font-size: 11px;
     height: 20px;
     width: 30px;
}

td.calendarToday {
     background-color: #BEBEBE;
     font-size: 11px;
     height: 20px;
     width: 30px;
}

.calendarDay A {
     color: #990000;
     text-decoration: none;
}

.calendarDay A:hover {
     color: #990000;
     font-weight: bold;
}

.calendarToday A {
     color: #990000;
     font-weight: bold;
     text-decoration: none;
}

TR.calendarHeaderRow {
     background-color: #C2C2C2;
}

TD.calendarHeader {
     background-color: #BEBEBE;
     font-size: 11px;
     font-weight: bold;
     height: 30px;
     text-align: center;
     width: 30px;
}

.calendarButton {
     font-size: 11px;
     height: 23px;
     margin-top: 10px;
     padding-right: 4px;
}

.calendarMonthSelect {
     border: 1px solid #000000;
     font-size: 11px;
}

.calendarYearInput {
     border: 1px solid #000000;
     color: #000000;
     font-size: 11px;
     padding-left: 50px;
}

div.errors {
     color: #990000;
     font-size: 11px;
     font-weight: bold;
     padding-left: 12px;
}

#errorWindowGround, #warningWindowGround, #confirmWindowGround {
     position: absolute;
     text-align: -moz-center;
     width: 99%;
     z-index: 999999;
}

#errorWindow, #warningWindow, #confirmWindow {
     background-color: #DCE4E7;
     border: 2px solid black;
     color: black;
     font-size: 9pt;
     margin-left: auto;
     margin-right: auto;
     padding: 8px;
     text-align: left;
     width: 280px;
     z-index: 999999;
}

.errorButton {
     text-align: center;
}

.errorTitle {
     font-weight: bold;
     padding: 2px;
     text-align: left;
}

#warningText, #confirmText {
     font: 11px Arial,Verdana,Helvetica,sans-serif;
}

.bigSelect {
     border: 1px solid #000000;
     font-size: 11px;
     height: 85px;
     width: 200px;
}

A.return:link, a.return:visited {
     color: #5B5B5B;
     font-size: 11px;
     font-weight: bold;
     text-decoration: none;
}

A.return:hover {
     text-decoration: underline;
}

.ruleConfigurationDetail {
     color: #FED653;
     font-size: 12px;
     font-weight: bold;
     padding-right: 5px;
     padding-top: 0px;
}

.ruleTitle {
     color: #5B5B5B;
     font-size: 12px;
     font-weight: bold;
}

.ruleDetail {
     color: #FED653;
     font-size: 12px;
     font-weight: bold;
}

.ruleTable {
     border-right: 1px solid #C2C5C6;
     font-size: 11px;
     padding-left: 12px;
}

.ruleTableEnd {
     padding-left: 12px;
}

#ruleHeader {
     background: none repeat scroll 0% 0% #E0E3E4;
     border-top: 1px solid #C2C5C6;
     color: #000000;
     font-size: 11px;
     font-weight: bold;
     height: 19px;
}

#ruleText {
     font-size: 11px;
     height: 40px;
}

#ruleText INPUT {
     border: 1px solid #000000;
     vertical-align: middle;
}

#ruleText SELECT {
     border: 1px solid #000000;
     vertical-align: middle;
}

#ruleNotice {
     font-size: 11px;
     font-weight: bold;
     height: 40px;
}

#ruleNotice INPUT {
     border: 1px solid #000000;
     vertical-align: middle;
}

.operatorSelect {
     font-size: 11px;
     margin-bottom: 10px;
     margin-top: 10px;
     width: 45px;
}

.ruleSelect {
     width: 180px;
}

.nameValueInput {
     border: 1px solid #000000;
     width: 125px;
}

TR.formRow TD {
     padding-bottom: 2px;
     padding-top: 2px;
}

TD.control {
     padding-right: 10px;
     vertical-align: top;
     width: 80%;
}

TD.required {
     text-align: right;
     vertical-align: top;
}

TD.label, SPAN.label {
     padding-right: 4px;
     vertical-align: top;
     white-space: nowrap;
     width: 15%;
}

TABLE.wizard {
     background: none repeat scroll 0% 0% #E6EAEC;
     border: 1px solid #CCCCCC;
     margin: 0px;
     width: 710px;
}

A.link {
     color: #5B5B5B;
     text-decoration: none;
}

A.link:hover {
     text-decoration: underline;
}

A.deployedStatus {
     color: #5B5B5B;
     font: 11px Arial,Verdana,Helvetica,sans-serif;
     text-decoration: none;
}

A.deployedStatus:hover {
     text-decoration: underline;
}

A.selectdDeployedStatus {
     color: #5B5B5B;
     font: bold 13px Arial,Verdana,Helvetica,sans-serif;
     text-decoration: none;
}

A.selectdDeployedStatus:hover {
     text-decoration: underline;
}

TABLE.wizard IMG {
     border-width: 0px;
}

TABLE.wizard A.link:hover {
     text-decoration: underline;
}

TABLE.wizard TD {
     font-size: 11px;
}

TABLE.wizard TR.title {
     background: none repeat scroll 0% 0% #DCE1E4;
}

TABLE.wizard FORM {
     margin: 0px;
     padding: 0px;
}

TABLE.wizard INPUT, SELECT, TEXTAREA {
     font-size: 11px;
}

TABLE.wizard INPUT.text, TEXTAREA.text, SELECT.text {
     background: none repeat scroll 0% 0% white;
     border: 1px solid #BEBEBE;
     width: 100%;
}

INPUT.text[disabled], SELECT.text[disabled] {
     color: gray;
}

TABLE.wizard INPUT.checkbox {
     vertical-align: top;
}

TABLE.wizard INPUT.textFit {
     border: 1px solid #7F9DB9;
}

TABLE.wizard TD.label.center, SPAN.label {
     vertical-align: middle;
     white-space: nowrap;
     width: 15%;
}

TABLE.wizard TD.boldLabel {
     vertical-align: top;
     white-space: nowrap;
     width: 15%;
}

TABLE.wizard TD.commitLabel, SPAN.label {
     font-weight: bold;
}

TABLE.wizard TD.midlabel {
     width: 50%;
}

TABLE.wizard SPAN.heading {
     color: #5B5B5B;
     font-family: Helvetica;
     font-size: 16px;
     font-weight: bold;
     padding: 10px;
     width: 100%;
}

TABLE.wizard TD.instructions {
     border-bottom: 2px solid #C0C0C0;
     padding: 10px 2px;
}

TABLE.wizard TD.filter {
     font-size: 11px;
     padding: 10px 10px 0px;
}

TABLE.wizard TD.instructions A {
     font-weight: bold;
}

TABLE.wizard TD.break {
     background-color: #C0C0C0;
     height: 2px;
     width: 100%;
}

TABLE.wizard TD.content {
     height: 100%;
     padding: 10px;
     vertical-align: top;
}

TABLE.wizard TD.strong {
     font-weight: bold;
}

TABLE.wizard TD.buttons {
     border-top: 2px solid #C0C0C0;
     padding: 10px;
     text-align: right;
}

TABLE.wizard DIV.rightButtons {
     padding-bottom: 10px;
     text-align: right;
}

TABLE.wizard INPUT.button {
     border: 1px outset white;
     font-size: 11px;
     padding: 0px 4px;
}

TABLE.wizard .dropButton {
     background-image: url("/images/button_popup_black.gif");
     background-position: 90% center;
     background-repeat: no-repeat;
     border: 1px outset white;
     padding: 0px 4px;
}

DIV.wizardMenu {
     background-color: #E7E3E7;
     border: 1px solid #303030;
     color: black;
     display: none;
     margin-left: 1px;
     padding-bottom: 12px;
     position: absolute;
     width: 250px;
     z-index: 3;
}

DIV.wizardMenu .searchText {
     color: black;
}

DIV.wizardMenu .button {
     border: 1px outset white;
     font-size: 11px;
     padding: 0px 4px;
}

TABLE.wizard TABLE.form {
     margin-top: 20px;
}

TABLE.wizard TABLE.form TD {
     padding-bottom: 5px;
     vertical-align: top;
}

TABLE.wizard DIV.hiddenForm {
     display: none;
     height: 280px;
     margin-bottom: 5px;
     margin-top: 5px;
     width: 100%;
}

TABLE.wizard DIV.shorterHiddenForm {
     display: none;
     height: 130px;
     margin-bottom: 5px;
     margin-top: 5px;
     width: 100%;
}

TABLE.wizard DIV.hiddenForm TD {
     padding-bottom: 3px;
}

TABLE.wizard SPAN.wizButton {
     border: 0px solid black;
     width: 0%;
}

TABLE.wizard DIV.scrollableArea {
     background-color: white;
     border: 1px solid black;
     overflow: auto;
}

DIV.scrollable {
     margin: 0px;
     overflow-x: auto;
     padding: 0px;
}

TABLE.viewer {
     height: 520px;
}

tr.expression {
     background-color: #EEF9FE;
}

td.function {
     padding: 5px;
}

td.operator {
     padding: 5px;
}

td.operand {
     padding: 5px;
}

.ssv_parent {
     font: 11px Arial,Verdana,Helvetica,sans-serif;
     position: relative;
     text-decoration: none;
}

.ssv_parent A {
     color: #5B5B5B;
     font-size: 11px;
     position: relative;
     text-decoration: none;
     white-space: nowrap;
}

.ssv_parent A:hover {
     position: relative;
     text-decoration: underline;
}

.ssv_child {
     background-image: url("/images/snapshot_divider.gif");
     background-position: left center;
     background-repeat: repeat-y;
     display: none;
     text-decoration: none;
     white-space: nowrap;
}

.ssv_indent {
     margin-left: 16px;
}

.border {
     background: none repeat scroll 0% 0% green;
     border: 1px solid green;
}

SPAN.task, SPAN.task A, SPAN.task A:visited {
     color: #5B5B5B;
     font-family: Helvetica;
     font-size: 13px;
     font-weight: bold;
     padding-left: 5px;
     text-decoration: none;
}

SPAN.task A:hover {
     text-decoration: underline;
}

.divLink {
     color: #BEBEBE;
     cursor: pointer;
     font-family: Helvetica;
     font-size: 11px;
     text-decoration: none;
}

.divLink:hover {
     color: #000000;
     text-decoration: underline;
}

SPAN.taskinfo {
     color: gray;
     font-family: Helvetica;
     font-size: 12px;
     padding-left: 10px;
     text-decoration: none;
}

SPAN.taskinfo A, SPAN.taskinfo A:visited {
     color: #5B5B5B;
     text-decoration: none;
}

SPAN.taskinfo A:hover {
     text-decoration: underline;
}

SPAN.dashboardHeadline {
     color: #5B5B5B;
     font-family: Helvetica;
     font-size: 16px;
     font-style: italic;
     font-weight: bold;
}

SPAN.dashboardText {
     color: #000000;
     font-family: Helvetica;
     font-size: 13px;
}

TR.moduleSummaryAlternateRow {
    
}

.gatewayMessage {
     background-color: #EBEEEF;
     border: 1px solid black;
     font-size: 12px;
     margin: 10px;
     padding: 10px;
}

DIV.breadcrumbTrail {
     color: #5B5B5B;
     font-size: 12px;
     font-weight: bold;
}

DIV.breadcrumbTrail A {
     color: #5B5B5B;
     padding-left: 5px;
     padding-right: 5px;
     text-decoration: none;
}

DIV.breadcrumbTrail A:hover {
     text-decoration: underline;
}

.hdrdetail {
    color: #5B5B5B;
}

DIV.tree {
     background-color: white;
     border: 1px solid #C0C0C0;
     height: 100%;
     margin-right: 1px;
}

DIV.tree TABLE TD A, DIV.tree TABLE TD.selected A {
     color: #5B5B5B;
     text-decoration: none;
     white-space: nowrap;
}

DIV.tree TABLE TD.selected A {
     background-color: #5B5B5B;
     border: 1px solid black;
     color: white;
     padding: 0px 2px;
}

DIV.tree TABLE TD A:hover {
     text-decoration: underline;
}

DIV.tree IMG.treeControl {
     cursor: pointer;
}

DIV.contextMenu {
     background-color: white;
     border-left: 1px solid black;
     border-right: 1px solid black;
     border-top: 1px solid black;
     position: absolute;
     visibility: hidden;
}

DIV.contextMenu DIV.item {
     background-color: white;
     border-bottom: 1px solid black;
     height: 20px;
     padding-left: 2px;
     width: 200px;
}

DIV.treeNode, DIV.treeNode IMG, DIV.treeNode TABLE, DIV.treeNode TABLE TR, DIV.treeNode TABLE TD {
     border: 0px none white;
     padding: 0px;
}

DIV.treeNode IMG {
     height: 18px;
     width: 18px;
}

.popupMenu {
     background-color: #5B5B5B;
     border: 1px solid #5B5B5B;
     display: none;
     margin: 0px;
     padding: 0px;
     position: absolute;
}

.popupMenu A.menuLink {
     border-bottom: 1px solid #5B5B5B;
     border-top: 1px solid #5B5B5B;
     color: #FFFFFF;
     display: block;
     font-size: 10px;
     padding-right: 8px;
     padding-top: 3px;
     text-decoration: none;
     white-space: nowrap;
}

.popupMenu A.menuLink:hover {
     text-decoration: none;
}

.popupMenu A.menuLink IMG {
     border: medium none;
}

.popupMenu A:hover {
     background-color: #EBEEEF;
     color: #5B5B5B;
     text-decoration: none;
}

DIV.actionConfirmation {
     text-align: center;
}

DIV.contactCard {
     background-color: #F1F4F6;
     border: 2px outset black;
     height: 100%;
     padding: 4px;
     width: 100%;
}

DIV.contactCard table td {
     border-color: -moz-use-text-color;
     border-style: none;
     border-width: 0px;
}

DIV.contactCard td.label {
     font-weight: bold;
}

DIV.contactCard .section {
     margin-top: 6px;
}

BODY.popupContent {
     background-color: #EFEFEF;
     font-family: Helvetica;
}

DIV.popupContent {
     background-color: #EFEFEF;
     border-color: -moz-use-text-color;
     border-style: none;
     border-width: 10px;
     font-family: Helvetica;
     padding: 10px;
     width: 100%;
}

DIV.popupContent TD.label {
     font-weight: bold;
     padding-right: 20px;
     vertical-align: top;
}

BODY.popupContentWhite {
     background-color: #FFFFFF;
     font-family: Helvectia;
}

DIV.popupContentWhite {
     background-color: #FFFFFF;
     border-color: -moz-use-text-color;
     border-style: none;
     border-width: 10px;
     font-family: Helvetica;
     padding: 10px;
     width: 100%;
}

A.refresh, A.refresh:visited, A.refresh:active {
     color: #5B5B5B;
     padding-right: 10px;
     text-decoration: none;
}

A.refresh:hover {
     text-decoration: underline;
}

#pageDivider {
     background: none repeat scroll 0px 0px #5B5B5B;
     height: 2px;
     width: 100%;
}

.allwrapper {
     display: block;
     overflow: hidden;
     white-space: pre-line;
     word-wrap: break-word;
}

.wrapper {
     display: block;
     overflow: hidden;
     word-wrap: break-word;
}

.casePopupWindowGround {
     display: none;
     position: absolute;
     text-align: -moz-center;
     width: 100%;
}

.casePopupWindow {
     background-color: #DCE4E7;
     border-color: black;
     border-style: solid;
     border-width: 2px;
     color: black;
     font-size: 9pt;
     padding: 8px;
     text-align: left;
     width: 410px;
     z-index: 1;
}

#tooltip {
     background-color: #FEECCC;
     border: 1px solid #000000;
     left: 1px;
     position: absolute;
     top: 1px;
     visibility: hidden;
     width: 200px;
     z-index: 3;
}

TABLE.customObjectResult {
     background: none repeat scroll 0% 0% #E6EAEC;
     border: 1px solid #CCCCCC;
     margin: 0px;
     width: 100%;
}

TD.customObjectControl {
     padding-right: 10px;
     vertical-align: top;
}

TD.customObjectRequired {
     text-align: right;
     vertical-align: top;
}

TD.customObjectLabel {
     padding-right: 4px;
     vertical-align: top;
}

#tooltipDiv {
     background-color: #FEECCC;
     border: 1px solid #000000;
     left: 1px;
     position: absolute;
     top: 1px;
     visibility: hidden;
     white-space: nowrap;
     z-index: 3;
}

TD.mutedDeviceBGImg {
     background-image: url("/images/asset_muted.gif");
     background-position: left center;
     background-repeat: no-repeat;
}

errorWindowGround_off {
     height: 100%;
     left: 0px;
     position: absolute;
     text-align: center;
     top: -370px;
     width: 100%;
     z-index: 1000;
}

errorWindowGround_off div {
     border: 1px solid #000000;
     margin: 500px auto;
     padding: 15px;
     text-align: center;
     width: 300px;
}

#pwdPolicy {
     background-color: #E6EAEC;
     border: 1px solid #BEBEBE;
     font: 11px Arial,Verdana,Helvetica,sans-serif;
     padding: 0px 5px;
     position: absolute;
     text-align: left;
     visibility: hidden;
     width: 220px;
}

#editNoteWindow textarea {
     width: 385px;
}

