/* Axeda COLORS & FONTS CSS Document */

/************************* HTML Global elements *************************/

body { 
	/* Background Color sets Background for Login Page*/
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	font-size: 13px;
	background: #1A2E4E;
	background-attachment: fixed;
}

a:hover {
	color: #21355A;
	text-decoration: underline;
}

a {
	color: #555555;
	text-decoration: none;
}

/************************* Login Page *************************/
/*Login Area Text Styling*/
#LoginArea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
    background-color: #0F2132;
	border-color: #112231 !important;

}

/*Login Area Text Hover*/
#LoginArea a {
	color: #939699;
}

#LoginContainer a {
	color: #939699;	
}

.Form {
	clear:both;
}

/*Login Form Boxes*/
.FormField {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #555555;
    border-color: #555555;
}

/*Login Form Boxe on Click Border Color*/
.FormField:focus {
    border-color: #FFC527;
}

/*Login Button*/
.LightButton {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #383838;
	text-align:center;
	text-transform: uppercase;
	background: #FFC231;
}

/*Error Text*/
.Error {
	color: #2974B7;
}


/************************* Header Elements *************************/
#Navigation {
}


/*Navigation Bar*/
#Navigation .Background {
    background: #0072d0;
}

/*Nav Bar Application Buttons or Links*/
#Navigation .Item {
	color: #FFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	border-color: #015397 !important;
	background: #007ce2;
}

/*Nav Bar Application Buttons or Links - HOVER*/
#Navigation .Item:hover {
	background: #0072d0;
}


/*Nav Bar Show More Links Button*/
#Navigation #ShowAllButton {
	border-color: #015397 !important;
	background: #007ce2;  
}

/*Nav Bar User Button*/
#Navigation #UserButton {
	background: #fcb531; 
}

/*Active Application Font Color */
.ActiveLink {
    color: #FAB441;
}

.SearchAreaInput {
    background-color: #082031;
    color: #ADAEAD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

/*Search Box Focus*/
.SearchFocus {
    color: #000000;
    background-color: #FFFFFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

/*** User Menu ***/
/*Styles the number and circle color floating above the message icon */
#AlertCount #Count {
	background-color: #0F2133;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	font-weight: bold;
}

/*The Style for the Pop Up Displayed when the User Icon is clicked */
#PopUpUserInfo {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: left;
	color: #FFF;
	font-size: 13px;
	font-weight: bold;
}

/*The style for the arrow displayed at the top of the user info box */
#PopUpUserInfo .BoxArrow {
	border-color: transparent transparent #0f2135 transparent;
	_border-color: #000000 #000000 #0f2135 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');	
}

/* The style for the list of links themselves*/
#PopUpUserInfo .LinkList {
	background-color: #0F2135;
}

#PopUpUserInfo .LinkList a {
}

/*The style for each individual link in the list of links for the user menu*/
#PopUpUserInfo .LinkList .Items {
	border-bottom-color:#0B4D93;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

/*The syle for the items in the list when the mouse if hovering over them*/
#PopUpUserInfo .LinkList .Items:hover {
	background-color: #0071D6;
}

#PopUpUserInfo .LinkList .Items:hover:last-child {
    background-color: #0071D6;
}

#PopUpUserInfo .LinkList .Items:hover:first-child {
    background-color: #0071D6;
}

/*** More Links (Show All/Quicklinks) Menu ***/
/* The Pop Up that is whown when the Show All Button is clicked*/
#Navigation #PopUpNavigation {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFF;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
}

/* Title text within the Navigation Pop Up*/
#Navigation #PopUpNavigation .Title {
    color: #FFFFFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
}

/*The color of the arrow floating above the pop up box*/
#Navigation #PopUpNavigation .BoxArrow {
	border-color: transparent transparent #0f2135 transparent;
	_border-color: #000000 #000000 #0f2135 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');	
}

/*The styles associated with the box itself*/
#Navigation #PopUpNavigation .LinkList {
	background-color: #0F2135;
}

/*Hidden Apps Sub List*/
#Navigation #SortHiddenSubList .Item {
	color: #CCC;
	background: #083a6d;
}

/*Cancel and Save Buttons*/
#PopUpNavigation .Button {
	background: #F2F2F2; 
	color: #505050;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}



/****************Search Menu****************/
#PopUpSearchResults {
    background-color: #E7E7E7;
	
}

/***Search Menu Title Text***/
#PopUpSearchResults .Title {
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
}

#PopUpSearchResults #AdvancedSearchLink{
	cursor: pointer;
}

/***Search Menu Results Text***/
#PopUpSearchResults .SubMenuItem {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 12px;
    line-height: 28px;
    background-color: #FFFFFF;
}

#PopUpSearchResults .SubMenuMore {
    text-wrap: none;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

#PopUpSearchResults .SubMenuMore {
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: 12px;
	font-weight: bold;
    line-height: 28px;
    background-color: #F5F5F5;
}

#PopUpSearchResults .SubMenuMore:hover {
    color: #F2F2F2;
    background-color: #666666;
}


/************************* SubMenu Elements *************************/
/*The sub or application specific navigation styling*/
#ApplicationNavigation {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;

}

/*The application navigation link styles*/
#ApplicationNavigation .SubApplicationLink {
	line-height: 20px;
	padding-right: 50px;
	cursor: pointer;
}

/*The pop up Sub>Sub Application navigation menus*/
#ApplicationNavigation .SubMenu {
	background-color: #0F2133;
	border-style: solid;
	border-color: #0F2133;
	border-size: 1px;
}

/*The styles for the link container itself*/
#ApplicationNavigation .SubMenuItem {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}

/*The styles for the link when the cursor is hovering over the item*/
#ApplicationNavigation .SubMenuItem:hover {
	color: #FFF;
	background-color: #1773C2;
}

#ApplicationNavigation .SubMenuBlock:hover {
    color: #FFF;
    background-color: #0B71C5;
}

.SubArrow {
    color: #fcb531;
}

/*** More Links Overflow Menu ***/
#PopUpSubMore .SideMenu {
    background-color: #0F2133;
    border-style: solid;
    border-color: #0F2133;
    border-size: 3px;
}

#PopUpSubMore .SubArrow {
    color: #0B71C5;
    font-stretch: extra-condensed;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
}


/* The styles for the link container itself*/
#PopUpSubMore .SideMenuItem {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
}

#PopUpSubMore .SideMenuItem:hover {
    color: #0071D6;
}

/*The Style for the Pop Up Displayed when the User Icon is clicked*/
#PopUpSubMore {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 13px;
    font-weight: normal;
	text-align: left;
	color: #FFF
}

/*The style for the arrow displayed at the top of the user info box*/
#PopUpSubMore .BoxArrow {
    border-color: transparent transparent #0f2135 transparent;
    _border-color: #000000 #000000 #0f2135 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

/*The style for the list of links themselves*/
#PopUpSubMore .LinkList {
    background-color: #0F2135;
}

/*The style for each individual link in the list of links for the user menu*/
#PopUpSubMore .LinkList .Items {
    border-bottom-color:#0B4D93;
    border-bottom-style:solid;
    border-bottom-width:1px;
}

/*The syle for the items in the list when the mouse if hovering over them*/
#PopUpSubMore .LinkList .Items:hover {
    color: #FFC021;
}

/*Sub Menu Show More Links Button*/
.StyledButton {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #686868;
    background: #F2F2F2;
}


/************************* Footer Elements *************************/
/* Footer Logo- MUST BE DOUBLE SIZE FOR HD DISPLAYS - PNG @ 340x54 */
#Footer #LogoArea img {
	width: 170px;
	height: 27px;	
}

/*Footer Container*/
#Footer {
	background-color: #0F2132;
}
#Footer a {
    color: #0B71C5;
}

/* Styling for the Copyright text*/
#Footer #Copyright {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #9B9FA5;
	font-size: 13px;
}




/************************* General Body Elements *************************/
/************************* User Attributes Page *************************/
.LegacyPod {
	margin-left: auto;
	margin-right: auto;
}

.LegacyPod .Icon {
	position: relative;
	float: left;
}

.LegacyPod .Title {
	font-family: Arial, Helvetica, sans-serif;
	color: #848684;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 36px;
}

.Title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #fff;
}

.LegacyPod .Contents {
	background-color: #FFF;
	border-color: #C9C9C9;
}

.LegacyPod .Contents .Title {
	font-size: 18px;
	line-height: 28px;
}

.FormLabel {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #848684;
}

.FormFieldArea {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}

.FormFieldArea .FormField {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	border-color: #C9C9C9;
}

.FormFieldArea .FormField:focus {
	border-color: #949694;
}
/*
.FormFieldArea .FormField:valid {
	border-color: #C5E1C9;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px;
	background-color: #F1F7F0;
}
*/
.FormFieldArea .FormField:invalid {
	border-color: #F7D3D3;
	background-color: #F7F0F2;
}

.FormButtonBar {
	line-height: 30px;
	text-alight: right;
}

.form {
	background-color: #FFF;
	border-color: #FFF;
}

.FormItem .Instructions {
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000;
}

.arrow_box {
	background-color: rgba(240, 249, 254, .7);
}

.arrow_box:after, .arrow_box:before {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(23, 39, 68, 0);
	border-right-color: rgba(240, 249, 254, .7);
}

.arrow_box:before {
	border-color: rgba(23, 39, 68, 0);
	border-right-color: rgba(240, 249, 254, .7);
}

.StickyTitle {
	font-family: "TheGreatEscape";
	color: #000;
	font-size: 16px;
	font-style: normal;
}

.StickyNote {
	text-align: left;
	font-family: "TheGreatEscape";
	font-size: 11px;
	background: #FFC427;
}

.FormButton {
	color: #FFF;
	background-color: #858585;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
}

/*********************HOME PAGE ELEMENTS******************/
/***Global Grey Body Area***/
#MainArea {
	background-color: #f5f5f5;
}


/*** Home Page App Styles ***/
/*Styling pertaining to the left most column in a 3 column grid*/
#MainArea #LeftColumn {
}

/*The center column styling in a 3 column grid, the left column in a 2 or the only column in a single*/
#MainArea #MainColumn {
}

/* The right most column in the 2 and 3 colyumn template*/
#MainArea #RightColumn {
	background-color: #E4E4E4;
}

/*** Help Button ***/
#HelpButton {
	background-image: url(../images/helpup.png);
	width: 31px;
	height: 29px;
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 13px;
	z-index: 10;
	background-size: contain;
}

#HelpButton:hover {
	background-image: url(../images/helpdown.png);
}

/*** Help Menu ***/
/*The Style for the Pop Up Displayed when the Pod Help Icon is clicked*/
#PopUpPodHelp {
	font-family:  Helvetica, Arial, sans-serif;
	color: #848684;
	font-size: 13px;
}

/*The style for the arrow displayed at the top of the pod help list box*/
#PopUpPodHelp .BoxArrow {
	border-color: transparent transparent #f7f7f7 transparent;
	_border-color: #000000 #000000 #f7f7f7 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

/*The style for the list of links themselves*/
#PopUpPodHelp .LinkList {
	background-color: #f7f7f7;
}

/*The style for each individual link in the list of pod help links*/
#PopUpPodHelp .LinkList .Items {
	border-bottom-color:#848684;
	border-bottom-style:solid;
	border-bottom-width:1px;
}


/*The syle for the items in the list when the mouse if hovering over them*/
#PopUpPodHelp .LinkList .Items:hover {
	background-color: #848684;
	color: #f7f7f7;
}



/************************* RANDOM BODY *************************/
.Confirm {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
	text-align: center;
	background: rgba(255,255,255,0.8);
}

.Confirm .Container {
	text-align: center;
}
.Confirm label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
}

.Confirm .Box {
    color: #FFFFFF;
	background-color: #0F2133;
	text-align: left;
}

.Confirm .Button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    background: #0B76CE;
}

.Confirm .ConfirmButtons {
	text-align: center;	
}

.PodConfig input {
	font-family: Arial;
	font-size: 12px;
	font-width: bold;
	border-color: #B6BAC1;
}

.PodConfig .Title {
	color: #000000;
}

.PodConfig .SubTitle {

}

.AboutTitle {
    background-color:#0071d6;
    padding: 10px;
}

.AboutBody  {
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #000;
    font-size: 14px;
}

#PodArea {
	text-align: left;
}

#PodArea .Title {
	color: #C1C1C1;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
}

#PodArea .SubTitle {
	color: #0B71C5;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 22px;
}


.PodConfig {
	background-color: #EDF9FD;
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	border-color: #0B71C5;
	padding: 20px;
}

#EditPageArea {
    background-color: #0F2133;
}

.hdrdetail {
	color: #5B5B5B;	
}

.breadcrumbTrail a {
	color: #fff;	
}
.topbar {
	background-color: #1773C2;	
}

.Controls_Toggle {
	font-size: 9px; 
	font-family: Arial, Helvetica, sans-serif; 
	color: #999;
}

.Pod .Title {
    font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
    color: #525552;
    font-size: 24px;
}

.TitleLarge {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 45px;
    color: rgba(209, 209, 209, 0.8);
}


.Pod .Box {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #eef1f4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eef1f4));
    background: -webkit-linear-gradient(top, #ffffff 0%, #eef1f4 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #eef1f4 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #eef1f4 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #eef1f4 100%);
    border-color: #C9C9C9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #525552;
    font-size: 24px;
    line-height: 40px;
}

#EditPodPage .Title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #525552;
}

#EditPodPage .Button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    background: #0B76CE;
}

/******************** Filter Button Styles *********************/


.FilterButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #fff;
    background: #666666;
}

.FilterButton:hover {
    background-color: #BEBEBE;
}

/************************* WEB FONTS *************************/
/* Embeded Fonts used by the system, can be replaced but must be updated where referenced */
@font-face {
	font-family: 'Helvetica Neue';
	src: url("../fonts/HelveticaNeue.eot");
	src: local("Helvetica Neue"), 
	url('../fonts/HelveticaNeue.eot?#iefix') format('eot'),
	url('../fonts/HelveticaNeue.woff') format('woff'),
	url('../fonts/HelveticaNeue.ttf') format('truetype');
}

@font-face {
	font-family: 'TheGreatEscape';
	src: url("../fonts/TheGreatEscape.eot?#iefix") format('eot');
	src: url('../fonts/TheGreatEscape.woff') format('woff'), url('../fonts/TheGreatEscape.ttf') format('truetype'), url('../fonts/TheGreatEscape.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}





